/* OS dark theme preference */
@media only screen {

  .is-dark-theme.is-dark-theme {
    --global--color-background: var(--global--color-dark-gray);
    --global--color-primary: var(--global--color-light-gray);
    --global--color-secondary: var(--global--color-light-gray);
    --button--color-text: var(--global--color-background);
    --button--color-text-hover: var(--global--color-secondary);
    --button--color-text-active: var(--global--color-secondary);
    --button--color-background: var(--global--color-secondary);
    --button--color-background-active: var(--global--color-background);
    --global--color-border: #9ea1a7;
  }
}
